html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align:center;
}


h1 {
    text-align: center;
    color: white;
    font-size: calc(50/16)rem;
    font-weight: normal;
}

p {
    color: aquamarine;
}

h2 {
    color:white;
    font-weight: 300;
    font-size: calc(40/16)rem;
}

h3 {
    color: gray;
    font-size: calc(21/16)rem;
}

h4 {
    text-align: right;
    color: gray;
}